[Unit]
Description=The instant Search demo application
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/npm start -- --port {{ instant_search_port }}
WorkingDirectory={{ instant_search_deployment_path }}
User=instantsearch
Group=instantsearch

[Install]
WantedBy=multi-user.target
